.memo {
    display: none;
}

header,
main {
    padding-bottom: 30px;
}

/** 시스템 관련 **/
:root {
    font-size: 13px;
    font-weight: 450;
}

body {
    font-family: "Noto Sans Mono", monospace;
}

.container,
.container-footer,
.container-main {
    width: 100%;
}

.font-r-rem {
    font-size: 1rem;
}

.font-s-rem {
    font-size: 0.9rem;
}

/** section padding 관련 **/
.release-section-list {
    line-height: calc(1ex / 0.32);
}

.release-section-info {
    padding-bottom: calc(1ex / 0.32 / 2);
    line-height: calc(1ex / 0.32);
    padding-left: 23px;
}

.artist-section-info {
    padding-bottom: 9px;
}

.artist-section-sub-info {
    line-height: calc(1ex / 0.32);
}

.artist-section-outlink {
    padding-bottom: 16px;
}

.artist-section-discription {
    max-width: 600px;
    padding-bottom: calc(1ex / 0.32);
    text-align: justify;
}

.artist-section-profile-wrapper {
    padding-bottom: 30px;
}

.line-height {
    line-height: 1.4;
}

/** 헤더 관련 **/
.header-main {
    display: flex;
    align-items: center;
    height: 22px;
    padding: none;
    background-color: none;
    color: blue;
    font-weight: 500;
}

.header-label {
    position: relative;
    bottom: 1px;
}

.header-arrow {
    max-height: 15px;
    padding-right: 6px;
}

.go-back {
    cursor: pointer;
}

/** release 섹션 관련 **/

li,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol {
    padding: 0;
    margin: 0;
}

.ol-tracklist > li {
    padding-right: 4px;
}

/** 이미지 (후버) 관련 **/
.cover-container {
    position: relative;
    display: inline-block;
    line-height: 0;
    vertical-align: bottom;
}

.thumbnail {
    width: calc(1ex / 0.32);
    height: auto;
    cursor: pointer;
}

.original-image {
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    border: none;
    box-shadow: none;
    z-index: 10;
    top: 100%;
    transform: translate(18px, 0);
}

/* PC 환경에서 호버 시 원본 이미지 표시 */
@media (hover: hover) {
    .cover-container:hover .original-image {
        display: block;
    }
}

/* 모바일 환경에서 원본 이미지 기본 숨김 */
@media (max-width: 480px) {
    .original-image {
        width: 200px !important;
    }
}

/* 클릭 시 원본 이미지 표시 (모바일) */
.cover-container.active .original-image {
    display: block;
}

/** 보드 갤러리 이미지 후버 관련 **/
.profile-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#profile-img-viewer {
    max-height: 300px;
    margin-bottom: 6px;
    max-width: 100%;
}

#profile-img-viewer img {
    display: block;
    max-width: 100%;
    max-height: 300px;
}

.profile-thumbnail-container {
    display: flex;
    max-width: 100%;
    max-height: 300px;
}

.profile-thumbnail {
    max-width: 100%;
    max-height: calc(1ex / 0.32);
    margin-right: 4px;
}

.profile-thumbnail img {
    display: block;
    max-width: 100%;
    max-height: calc(1ex / 0.32);
}

.profile-thumbnail:last-child {
    margin-right: 0;
}

/** 보드 관련 **/

/* data-href 관련*/

.data-href,
.data-href-outlink {
    cursor: pointer;
}

/** 반응형 관련 **/

@media (min-width: 480px) {
    .container {
        max-width: 480px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1366px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1920px;
    }
}

.shadow-underline-simple {
    text-shadow: 1px 2px 2px #000fff;
    text-decoration: underline;
    text-decoration-color: #000fff;
    text-underline-offset: 3px;
}

.underline-wrapper {
    position: relative;
    display: inline-block;
    /* 또는 block에 따라 */
    padding-bottom: 1px;
    /* 언더라인과의 간격 조정 */
}

.underline-wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15px;
    border-bottom: 1.5px solid #000fff;
    /* 언더라인 스타일 */
}

/* div swap */
.text-swap-container {
    position: relative;
    cursor: pointer;
    max-width: 600px;
    padding-bottom: 30px;
    text-align: justify;
    /* height 설정 제거 또는 auto로 변경하여 내용에 따라 조절되도록 함 */
    min-height: auto;
}

.korean-text {
    display: none;
    background-color: transparent;
}

/* PC 환경에서 호버 시 텍스트 스왑 */
@media (hover: hover) {
    .text-swap-container:hover .english-text {
        display: none;
    }

    .text-swap-container:hover .korean-text {
        display: block;
    }
}

.text-swap-container:hover .english-text {
    display: none;
    /* 마우스 호버 시 영문 텍스트를 숨김 */
}

.text-swap-container:hover .korean-text {
    display: block;
    /* 마우스 호버 시 한글 텍스트를 보이게 함 */
}
