/* system */
:root {
  font-size: 14px;
}

body {
  padding: 1rem;
}

main {
  height: calc(100vh - 20rem);
  background-color: beige;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}


/* assets*/

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* header */
header nav ul {
  align-items: center;
}

#icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
}

header a:hover {
  text-decoration: overline;
  text-decoration-color: green;
  text-decoration-thickness: 1px;
  background-color: green;
}

header a.active {
  text-decoration: overline;
  text-decoration-color: green;
  text-decoration-thickness: 1px;
}

/* footer */
footer {
height: 5rem;
}

footer img {
  height: 5rem;
}

#sns-links li:not(:last-child) a {
  color: gray;
}
