.pd-3 {
  padding: 3rem;
}

.pdl-05 {
  padding-left: 0.5rem;
}

.pdl-1 {
  padding-left: 1rem;
}

.pdb-8 {
  padding-bottom: 8rem;
}

.pdt-1 {
  padding-top: 1rem;
}

.pdt-3 {
  padding-top: 3rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.align-bottom {
  vertical-align: bottom;
}

.align-top {
  vertical-align: top;
}
