:root {
  font-size: 12px;
  font-weight: 450;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

main {
  display: flex;
  margin: 0;
  flex-direction: row; /* 기본적으로 가로 방향 배치 */
  flex-wrap: wrap; /* 내용이 넘치면 줄바꿈 */
}

footer {
  padding: 20px;
}

.col-left {
  padding: 20px;
  order: 0;
}

.col-right {
  padding: 20px;
  order: 1;
}

.td-left {
  padding-left: 10px;
}

.logo-text {
  color: blue;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

tr,
td {
  padding: 0;
  margin: 0;
}

.styled-row td {
  padding-bottom: 15px;
}

/* 모바일 환경 (최대 너비 480px) */
@media (max-width: 480px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  main {
    flex-direction: column; /* 모바일에서 세로 방향 배치 */
    flex-wrap: nowrap; /* 줄바꿈 방지 */
  }

  .col-left {
    order: 0;
    width: 100%;
    padding: 4px;
  }

  .col-right {
    order: 1;
    width: 100%;
    padding: 4px;
    background-color: gray;
  }
}

/** 이미지 (후버) 관련 **/
.cover-container {
  position: relative;
  display: inline-block;
  line-height: 0;
  vertical-align: bottom;
}

.thumbnail {
  width: calc(1ex / 0.32);
  height: auto;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.original-image {
  display: none;
  position: absolute;
  width: 300px;
  height: auto;
  border: none;
  box-shadow: none;
  z-index: 10;
  top: 100%;
  transform: translate(18px, 0);
}

@media (hover: hover) {
  .cover-container:hover .original-image {
    display: block;
  }
}

@media (max-width: 480px) {
  .original-image {
    width: 200px !important;
  }
}

.cover-container.active .original-image {
  display: block;
}